body{
    background-color: rebeccapurple
}

.btn-outline-light{
    background-color: chartreuse;
    color: black
}

.btn-outline-light:hover{
    color: navy
}

.container{
    background-color: darkgoldenrod;
    border: lightseagreen;
    border-radius: 10px;
    width: max-content;
}

.row{
    border: 3px solid navy;
    border-radius: 10px;
}


.allcol{
    border: 2px solid lightseagreen;
    border-radius: 8px;
}

.navbar{
    background-color: grey;
}